.container {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom, #aef5e9, #fff 60%);

  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 400px;
    padding: 20px;
    border-radius: 30px;
    background: transparent;

    animation-name: grow ,changeBoxShadow;
    animation-duration: 1s, 8s;
    animation-iteration-count: 1, infinite;
    animation-timing-function: ease-in-out, linear;

    .el-radio-button {
      --el-radio-button-checked-bg-color: #41f15d;
      --el-radio-button-checked-text-color: #f5f2f2;
      --el-radio-button-checked-border-color: #41f15d;
      --el-radio-button-disabled-checked-fill: #f5f2f2;
    }

    .el-input {
      width: 90%;
    }

    .button-group {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .el-button {
        width: 100px;
        border-radius: 30px;
      }

      .back-button {
        border: none;
        background: #E6E6E6;
        transition: all 1s;
      }

      .back-button:hover {
        color: #5b7b8f;
        box-shadow: 0 0 10px #E6E6E6, 0 0 20px #E6E6E6, 0 0 30px #E6E6E6;
      }

      .update-button {
        border: none;
        background: #41f15d;
        transition: all 1s;
      }
      .update-button:hover {
        color: #fdcd04;
        box-shadow: 0 0 10px #41f15d, 0 0 20px #41f15d, 0 0 30px #41f15d;
      }
    }
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes changeBoxShadow {
  0%, 100% {
    box-shadow: 0 0 10px #6cf682;
  }
  25%, 75% {
    box-shadow: 0 0 10px #6cf682, 0 0 20px #6cf682;
  }
  50% {
    box-shadow: 0 0 10px #6cf682, 0 0 20px #6cf682, 0 0 30px #6cf682;
  }
}